@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PARKING ZONE</h1>
    <style>
        body{
            background-repeat: no-repeat;
            background-attachment: fixed;
            background: #ff0000 url('https://wallpapers.com/images/high/supercar-lot-0j39gwj4zem6laer.webp') top center repeat-y;
            background-size: cover;
            background-position: 50% 50%;
        }
        h1{
            color:black;
            font-family: fantasy;
        }
    </style>
</div>